#{extends 'main.html' /}
#{set title:'Home' /}

<div class="grid_9 ">
	<div class="frame-border">
		#{form @CBoard.update()}
		<fieldset>
			<input type="hidden" name="obj.hash" value="${board.hash}">
			<p><label>名称</label><br/>
			<input type="text" class="title" name="obj.name" value="${board.name}">
			</p>
			<p><label>请选择一个分类</label><br/>
			<select class="title" name="obj.category.code" id="board" >
				#{list categories, as:'b'}
				<option value="${b.code}">${b.name}</option>
				#{/list}
			</select>
			</p>
			<input class="ok" type="submit" value="提交">
			<input class="delete" type="submit" value="删除">
		</fieldset>
		#{/form}
		
	</div>
</div>

<div class="grid_3">
	<div class="frame-border">
		<h3>#{a @CBoard.view(board.hash)}${board.name}#{/a}</h3>
		#{pastersgrid board.latest()/}
	</div>
</div>

<script>
$(document).onReady(function (){

});
</script>	
