#{extends 'main.html' /}
#{set title:'Home' /}
<div class="grid_12">
	<div class="frame-border">
		<div class="grid_7">
		<h3 style="margin-bottom:0px;" >#{a @CBoard.view(board.hash)}${board.name}#{/a}</h3>
		</div>
		<div class="grid_4 right" style=" padding: 6px ">
		#{haspermission user:current_user, target:board, operation:'edit'}
			#{a @CBoard.edit(board.hash),class:'button'} 编辑 #{/a}
		#{/haspermission}
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="clear"></div>
<br/>
<div id="container">
</div>
<script>
	$(document).onReady(function() {
		var wimg = new WoImg()
		wimg.boardpage('${board.hash}');
	});
</script>