#{extends 'main.html' /}
#{set title:'WOIMG' /}
<div class="clear"></div>
	<div class="grid_3">
		<div class="frame-border">
		  <h3>#{a @Application.home(current_user.login)}${current_user.login}#{/a}</h3>
		  #{pastersgrid latestPasters/}
		</div>
	</div>
	<div class="grid_9">
		<hr/>
		#{list boards , as: 'board'}
			<div class="grid_3 frame-border">
			  <h3>#{a @Application.viewBoard(board.hash)}${board.name}#{/a}</h3>
	  		  #{pastersgrid board.latest()/}
			</div>
		#{/list}
	</div>

<div class="clear"></div>
