<div id="loading-container">
#{list items: pasters, as: 'p'}
<div class="img-frame frame-border" data-height="${p.img.height}" data-hash="${p.img.hash}"
     data-url="@{Application.view(p.hash)}" data-img-url="${p.img.smallLink()}" data-width="${p.img.width}">
    <div class="paster-toolbar"><a class="button" href="javascript:void(0)" onclick="javascript:woimg.repaste('${p.hash}')">重贴</a> <a class="button" href="javascript:void(0)">评论</a></div>
	#{a @Application.view(p.hash)}
    <img
		id="${p.img.hash}" src="/public/images/place-holder.png" style="height:${Math.round((170.0/p.img.width)*p.img.height)}px"
	/>#{/a}
	<div class="clear"></div>
    <div>${p.info}</div>
    <div class="memo">#{a @Application.home(p.user.login)} ${p.user.login}#{/a} ${p.pasteDate.freindly()} 粘贴在 #{a @CBoard.view(p.board.hash)}${p.board.name}#{/a}</div>
    <div id="comments">
        #{list p.comments(), as: 'c'}
            ${c.comment}<br/>
        #{/list}
    </div>
    #{if current_user}
    <div><input id="quick-comment-${p.hash}" name="comment" style="width:164px;" onkeypress="woimg.quick_comment(event,'${p.hash}')"></div>
    #{/if}
</div>	
#{/list}
</div>
