<div style="padding:10px;">
#{form @Application.repaste(), id:'url-load-form'}
	<fieldset>
	<legend>收藏网络图片</legend>
	<input type="hidden" name="paster" value="${paster.hash}">
	<p><label>请选择一个面板</label><br/>
	<select class="title" name="board" id="board" >
		#{list boards, as:'b'}
		<option value="${b.hash}">${b.name}</option>
		#{/list}
	</select>
	</p>
	<p><label>描述</label><br/>
	<textarea class="title" name="desc"></textarea>
	</p>
	<input class="title" type="submit" value="提交">
	</fieldset>
#{/form}
</div>
<div class="clear"></div>
