<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
	    <!-- Framework CSS -->
            
        <link rel="stylesheet" media="screen" href="@{'/public/css/reset.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/text.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/blueprint/src/forms.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/right.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/right/dialog.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/woimg.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    <img src="/public/images/place-holder.png" id="img-holder">
    <div class="container">
	    <div>
		    <h1>WOIMG</h1>
		    <div class="tools"><a href="javascript:void(0);" onclick="javascript:tool_add();">+ADD</a>
		    <a href="@{CUser.register()}">JOIN IN</a></div>
	    </div>
	    <hr/>
	    #{doLayout /}
    </div>
    <script>
    function tool_add(){
    	new Dialog()
    	.title('Paster')
		.html('Hi there!')
		.update($('dlg-tool-add').clone())
		.show();
    }
    </script>
    <div id="loading-hiddent-div">
    </div>
	<div id="dlg-hidden-div" style="visibility:hidden;">
		<div id="dlg-tool-add" class="span-4 frame-border">
			<div class="caption">上传</div>
			上传本地图片
			#{form @Application.upload(), id:'file-load-form', enctype:'multipart/form-data'}
				<input type="hidden" name="type" value="file">
				<input type="file" name="file" style="width:226px;">
				<input type="submit" value="提交" >
			#{/form}
			收藏网络图片
			#{form @Application.upload(), id:'url-load-form'}
				<input type="hidden" name="type" value="url">
				<input type="text" name="url" style="width:220px;">
				<input type="submit" value="提交">
			#{/form}
		</div>
	</div>    
    </body>
</html>
